// setup
@import "mixins";
@import "vars";
@import "settings";  // fonudation theme settings

// vendors
@import "bower_components/foundation-sites/scss/foundation";
@import "bower_components/motion-ui/motion-ui";

// base styles
@include foundation-everything;  // invoke foundation scss
@import "utilities";
@include create-color-classes($theme_colors);  // $theme_colors is set in _vars. create-color-classes is defined in _mixins
::selection {
  background-color: tomato;
  color: $white;
  text-shadow: none;
}

// dat new new
// here ~***~***~
.global-nav {
  a {
    text-transform: uppercase;
    color: inherit;
  }
}

.main-nav {
  list-style: none;
  margin: 0;
  text-align: right;
  @include mq(medium) {
    > li {
      display: inline-block;
      margin-right: rem-calc(10);
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.h1 {
  font-size: rem-calc(24);
  font-weight: bold;
  line-height: rem-calc(25);
  margin-bottom: 0;
  // text-transform: uppercase;
}
.global-header {
  a {
    color: inherit;
  }
}




// page transitions
// ----------------------------------------

/*
 * Keyframes
 */
@keyframes fadeIn {
  0% {
    opacity: 0;    // transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}



.container {
  // .scene-element, .scene-element--fade-in
  .main {
    // animation-duration: 0.25s;
    animation-duration: 0.3s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }

  &.is-exiting .main {
    animation-direction: alternate-reverse;
  }
}
