// setup
@import "vars";
@import "mixins";

// foundation setup
@import "settings";
@import "foundation";
// @include foundation-everything;
// ----------------------------------------
$global-flexbox: true !global;
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;


@import "utilities";
@include create-color-classes($foundation_colors);
@include create-color-classes($theme_colors);

::selection {
  background-color: $red;
  color: $white;
  text-shadow: none;
}

p {
  @include breakpoint(medium) {
    font-size: rem-calc(18);
  }
  @include breakpoint(large) {
    font-size: rem-calc(21);
  }
}

@import "theme/header";
@import "theme/nav";
@import "theme/footer";
@import "theme/typography";
@import "theme/links";
@import "theme/misc";

.main,
.global-footer {
  border: rem-calc(10) solid $white;
  @include breakpoint(medium) {
    border-width: rem-calc(15);
  }
  @include breakpoint(large) {
    border-width: rem-calc(20);
  }
}

.global-footer {
  border-top: none;
}

.main {
  border-bottom: none;
  position: relative;
  z-index: 10;
  background-color: $vapor;
}

.next-block {
  background-color: $jumbo;
  text-align: center;
  margin-bottom: rem-calc(30);
  padding-top: rem-calc(20);
  h3 {
    margin: rem-calc(10 0 20);
  }
  a {
    @include page-section(15);
    display: block;
    color: inherit;
    font-weight: $extra-bold;
    border-top: rem-calc(4) solid $base;
  }

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.circle {
  @include circle(rem-calc(40), $base);
}
