// setup
@import "vars";
@import "mixins";

// foundation setup
@import "settings";
@import "foundation";
// @include foundation-everything;
// ----------------------------------------
$global-flexbox: true !global;
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;


@import "utilities";
@include create-color-classes($foundation_colors);
@include create-color-classes($theme_colors);

::selection {
  background-color: $red;
  color: $white;
  text-shadow: none;
}

p {
  @include breakpoint(medium) {
    font-size: rem-calc(18);
  }
  @include breakpoint(large) {
    font-size: rem-calc(21);
  }
}

@import "theme/header";
@import "theme/nav";
@import "theme/footer";

.main {
  position: relative;
  z-index: 10;
  background-color: $white;
}



.marquee {
  text-transform: none;
  font-size: rem-calc(40);
  @include breakpoint(medium) {
    font-size: rem-calc(64);
  }
}


// effect 1 - arrow through
// ----------------------------------------
@keyframes arrow-through {
  0% {
    transform: translateX(-105%);
  }
  10% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateX(105%);
    // opacity: 0;
  }
}

.effect-1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  &:before {
    content: "\0a0";
    display: inline-block;
    position: absolute;
    top: 45%;
    height: rem-calc(1);
    width: 100%;
    background-color: $white;
    background-color: currentColor;
    transform: translateX(-105%);
    backface-visibility: hidden;
    pointer-events: none;
  }
  &:after {
    content: "→";
    display: inline-block;
    margin-left: rem-calc(5);
    opacity: 0;
    transform: translateX(rem-calc(-5));
    transition: opacity 0.3s ease,transform 0.3s ease;
    transition-delay: 0.1s;
    backface-visibility: hidden;
    pointer-events: none;
  }
  &:hover {
    &:before {
      animation-name: arrow-through;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    &:after {
      opacity: 1;
      transform: translateX(0);
    }
  }
}




// cursor effect
// ----------------------------------------
.typed-cursor {
  animation-name: pulse;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  &.off {
    animation-iteration-count: 1;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.header-1 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-size: rem-calc(40);
  padding: rem-calc(40 0);
  margin: 0;
  span {
    display: block;
  }
  @include breakpoint(medium) {
    font-size: rem-calc(60);
    padding: rem-calc(120 0);
  }
  @include breakpoint(large) {
    font-size: rem-calc(100);
    padding: rem-calc(200 0);
  }
}

.test-1 {
  background-color: $red;
  color: $white;
  padding: 10% 5%;
  h2 {
    text-transform: uppercase;
    line-height: 1;
    font-size: rem-calc(60);
  }
  small {
    display: block;
    margin-top: 30%;
  }
}

.test-3 {
  h2 {
    margin-top: rem-calc(60);
    color: $red;
  }
  img {
    margin-bottom: rem-calc(20);
  }
  strong {
    display: block;
    font-weight: normal;
    font-style: italic;
    margin-bottom: rem-calc(10);
  }
}

.page-header {
  padding-top: rem-calc(240);
  padding-bottom: rem-calc(100);
  background-color: $gainsboro;
  + .page-content {
    margin-top: rem-calc(-80);
  }
  @include breakpoint(medium) {
    padding-bottom: rem-calc(60);
  }
}

.page-title {
  text-transform: uppercase;
  font-size: rem-calc(50);
  line-height: 1;
  @include breakpoint(medium) {
    font-size: rem-calc(100);
    margin-bottom: rem-calc(30);
    &.v2 {
      font-size: rem-calc(60);
    }
  }
}


.page-subtitle {
  font-size: rem-calc(40);
  font-weight: $header-font-weight;
  line-height: 1;
}

.box {
  border: 3px solid;
  padding: rem-calc(40);
  p:last-child {
    margin-bottom: 0;
  }
}

.client-list {
  list-style: none;
  margin: rem-calc(50 0);
  text-align: center;
  li {
    border: 3px solid;
    margin: rem-calc(30 0);
  }
  a {
    display: block;
    padding: rem-calc(30);
  }
  h3 {
    margin: 0;
  }
  @include breakpoint(medium) {
    margin: rem-calc(80 0);
    li {
      margin: rem-calc(50 0);
    }
    a {
      padding: rem-calc(50 30);
    }
  }
  @include breakpoint(large) {
    li {
      margin: rem-calc(80 0);
    }
    a {
      padding: rem-calc(80 30);
    }
  }
}

.img-1 {
  text-align: center;
  @include breakpoint(medium) {
    margin-top: 50%;
    margin-bottom: 10%;
  }
  @include breakpoint(large) {
    margin-top: 25%;
  }
}

.testimonial {
  p {
    line-height: 1.4;
    font-style: italic;
    font-size: rem-calc(20);
  }
  @include breakpoint(medium) {
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    // transform: translateY(-50%);
    p {
      font-size: rem-calc(26);
    }
  }
  @include breakpoint(large) {
    p {
      font-size: rem-calc(32);
    }
  }
}

.pos-rel {
  position: relative;
}

.two-cols {
  @include breakpoint(medium) {
    -webkit-column-count: 2;
  }
}

.thick-row {
  @include page-section(50);
  @include breakpoint(medium) {
    @include page-section(70);
  }
  @include breakpoint(large) {
    @include page-section(90);
  }
}


.showcase-block {
  color: inherit;
  display: block;
  border: 3px solid;
  padding: rem-calc(20);
  p:last-child {
    margin-bottom: 0;
  }
  &:hover {
    color: inherit;
  }
}

.round-button {
  font-weight: $extra-bold;
  background-color: $monsoon;
  color: $white;
  padding: rem-calc(10 25);
  border-radius: rem-calc(20);
  &:hover {
    color: $white;
  }
}
