doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    include inc/head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    #container.container
      include inc/global-header.jade

      main#main.main
        .row.page-section
          .columns.small-12
            .thick-page-section.text-center
              h1#marquee.marquee Your <span id="animated-text">local</span><i class="cursor">&nbsp;</i> agency
            .row.text-center
              .columns.small-12.page-section
                h2 stuff we made
                p apply your eyeballs
                a(href="01--showcase.html") See our work
              .columns.small-12.page-section
                h2 what we do
                p we make you awesome
                a(href="02--services.html") More about our services
              .columns.small-12.page-section
                h2 how we work
                p or how we make awesome things
                a(href="03--process.html") Learn how we work
              .columns.small-12.page-section
                h2 get to know us
                p how we do the things
                a(href="04--agency.html") About the team
              .columns.small-12.page-section
                h2 get in touch
                p better than being out of touch
                a(href="05--contact.html") Buh-bum Tiss
            .page-section
              h2 articles were wrote
              p letters in words in sentences in paragraphs
              a(href="06--range.html") View all articles


      include inc/global-footer.jade
    include inc/scripts.jade
