extends type--page.jade

block title
  title Archer

block content
  header.page-header
    .row.align-center
      .columns.small-11.medium-10
        .row
          .columns.small-12
            h1.page-title Greatness
          .columns.small-12.medium-8.medium-offset-4.large-7.large-offset-5
            p We are Archer. We’re innovators. We’re creators. We’re strategists. The A-Team is a passionate group of professionals committed to the success of its clients.
  .row.page-section
    .columns.small-12
      .thick-page-section.text-center
        h2#marquee.marquee Your <span id="animated-text">local</span> agency
      .row.text-center
        .columns.small-12.page-section
          h2 stuff we made
          p apply your eyeballs
          a(href="01--showcase.html").effect-1 See our work
        .columns.small-12.page-section
          h2 what we do
          p we make you awesome
          a(href="02--services.html").effect-1 More about our services
        .columns.small-12.page-section
          h2 how we work
          p or how we make awesome things
          a(href="03--process.html").effect-1 Learn how we work
        .columns.small-12.page-section
          h2 get to know us
          p how we do the things
          a(href="04--agency.html").effect-1 About the team
        .columns.small-12.page-section
          h2 get in touch
          p better than being out of touch
          a(href="05--contact.html").effect-1 Buh-bum Tiss
      .page-section
        h2 articles were wrote
        p letters in words in sentences in paragraphs
        a(href="06--range.html").effect-1 View all articles
