doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    include inc/head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      include inc/global-header.jade

      main#main.main
        .row.page-section
          .columns.medium-8.medium-centered.large-6
            h1 We are archer
            p we make you awesome
            h2 what we do
            h2 how we do it
            h2 stuff we made
            h2 get to know us
            h2 get in touch
            h2 some articles were wrote


      include inc/global-footer.jade
    include inc/scripts.jade
