doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Kitchen Sink | Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    include inc/head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    #container.container
      include inc/global-header.jade

      main#main.main
        .row.page-section
          .columns.small-12
            h1 Kitchen Sink
            p Gotta wrap it first
            span.effect-1
              a(href="#") Strike through on hover
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat a, beatae minus, quod, tempora voluptate adipisci esse similique numquam neque vero porro. Excepturi, mollitia, illum? Dolorem rerum dolores vero?
            a(href="#").effect-1 Strike through on hover
            h2.header-1 Web Design

      include inc/global-footer.jade
    include inc/scripts.jade
