doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    block title
      title Page Title | Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    include inc/head.jade

  body
    a(href="#main").show-on-focus Skip to main content
    #container.container
      include inc/global-header.jade
      include inc/global-nav.jade

      main#main.main
        block content
          header.page-header
            .row
              .columns.small-12
                h1.page-title Page Title
          .page-content
            .row
              .columns.small-12.medium-6
                .box.overview-box
                  p.page-subtitle The <br/> Essence <br/> of Greatness
                  p With an in-house team of industry experts, we are able to create work that far exceeds client expectations. We take ourselves seriously while making creative and unforgettable work. Each of our departments works closely together to make sure every project is executed to perfection.
              .columns.small-12.medium-6
                figure.img-1
                  img(src="images/freedom.jpg", alt="", width="250", height="250")
        .base-bg
          .row.thick-row.align-center
            .columns.small-11.medium-10.large-9
              h2.thick-margin-bottom Where to next?
              .row
                .columns.small-12.medium-4
                  .next-block
                    .circle
                    h3 Our Services
                    a(href="02--services.html") See what we do
                .columns.small-12.medium-4
                  .next-block
                    .circle
                    h3 Our Art Director
                    a(href="type--profile-page.html") Learn about Phil
                .columns.small-12.medium-4
                  .next-block
                    .circle
                    h3 Randomize it!
                    a(href="index.html") Take a shot blindfolded


      include inc/global-footer.jade
    include inc/scripts.jade
