doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="css/style.css")

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.header
        .row.page-section
          .columns
            h1 Archer
      main#main
        .row.page-section
          .columns.medium-8.medium-centered.large-6
            p Archer 2.0, website for 2016
      footer.footer.jet-bg.white
        .row.thin-page-section.text-right
          .columns
            small Archer / z a p o / 2016

    script(src="js/vendors.js")
    script(src="js/main.js")
