doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="css/style.css")

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.global-header
        .row
          .columns.small-6.medium-4
            h1 Archer
            span Archer 2.0, website for 2016
          .columns.small-6.medium-8
            nav.global-nav.page-section
              h2.show-for-sr Site Nav
              ul.menu.vertical.medium-horizontal
                li
                  a(href="#services", data-smooth-scroll) Services
                li
                  a(href="#case-studies", data-smooth-scroll) Case Studies
                li
                  a(href="#about-us", data-smooth-scroll) About Us
                  ul
                    li
                      a(href="#calendar", data-smooth-scroll) Calendar
                li
                  a(href="#contact", data-smooth-scroll) Contact
                li
                  a(href="#articles", data-smooth-scroll) Articles
      main#main
        .row.page-section
          .columns.medium-8.medium-centered.large-6
            .thick-margin-bottom
              h2#services Services
              p list of services, description of each service, case study and articles for each service
              ul
                li branding
                li promotion
                li web design

            .thick-margin-bottom
              h2#case-studies Case Studies
              p focused on clients specifically
              p feature the services we did for them
              p show process work, helps to tell the story
                a(href="http://dixonschwabl.com/work/united-way") schwabl example
              p sticks to the featured company style/attitude
              p show variety of pieces
              ul
                li Logos
                li quick overview about the client
                li live site link
                li statistics

            .thick-margin-bottom
              h2#about-us About Us
              h3 Our Process
              p what to expect working with us as a client
              p outline our steps
              p our responsibilities, their responsibilities
              h3 our work culture
              p who we are,
              p what we look for,
              p what we're trying to build → talks about future/plans
              p photos of the office
              p Rochester NY, people like local
              p show who clients are
              h3 employee profiles
              ul
                li picture
                li bio
                li educational history (share RIT ties)
                li company position - show who does what
                li Showcase articles with our profiles
                li Show our music taste and personal fun info


            .thick-margin-bottom
              h2#calendar Calendar
              p sharing events we’ll participate in, be attending (Career fair, Industry Day)


            .thick-margin-bottom
              h2#contact Contact
              p Forms, for clients and employees
              p Blurb about what to expect working with us
              p list of job openings
              p Address, “send your carrier pidgeon due North 50 degrees”
              p phone number


            .thick-margin-bottom
              h2#articles Articles/Blogs




      footer.global-footer.jet-bg.white
        .row.thin-page-section.text-right
          .columns
            small Archer / z a p o / 2016

    script(src="js/vendors.js")
    script(src="js/main.js")
