header.global-header
  .row
    .columns.small-6.medium-4
      h1.h1
        a(href="index.html")
          span Archer
      span Archer 2.0, website for 2016
    .columns.small-6.medium-8
      nav.global-nav.page-section
        h2.show-for-sr Site Nav
        include nav.jade
