header#global-header.global-header
  h1.h1
    a(href="index.html")
      span Archer
//- include global-nav.jade

//- header#global-header.global-header
  .row
    .columns.small-6.medium-3.large-4
      h1.h1
        a(href="index.html")
          span Archer
    .columns.small-6.medium-9.large-8
      include global-nav.jade
