nav.global-nav
  h2.show-for-sr Site Nav
  button(type="button", data-toggle="nav-container").nav-toggle Menu
  #nav-container.nav-container(data-toggler=".active")
    ul#nav-list.nav-list
      li
        a(href="01--showcase.html") Showcase
      li
        a(href="02--services.html") Services
      li
        a(href="03--process.html") Process
      li
        a(href="04--agency.html") Agency
      li
        a(href="05--contact.html") Contact
      li
        a(href="06--range.html") Range
