footer#global-footer.global-footer
  .row.collapse.align-center
    .columns.small-11.medium-10
      .row
        .columns.small-12.medium-4
          h1.footer-h1
            span.show-for-sr Site Footer
          //- contact links
          a(href="#").block hello@archer.agency
          a(href="#").block 585.461.1570
          p 252 Alexander Street, Rochester, NY
        .columns.small-6.medium-2.large-3
          a(href="02--services.html") Services
          ul.no-bullet
            li
              a(href="02--services.html#branding") Branding
            li
              a(href="02--services.html#website") Website
            li
              a(href="02--services.html#print") Print
            li
              a(href="02--services.html#promotion") Promotion
            li
              a(href="02--services.html#full-service-edge") The Full-Service Edge
        .columns.small-6.medium-2
          a(href="01--showcase.html").block Showcase
          a(href="03--process.html").block Process
          a(href="04--agency.html").block Agency
          a(href="06--range.html").block The Range
        .columns.small-12.medium-4.large-3
          h2 In the Media
          //- latest tweet thing
          h3 @archercom
          p Read our latest blog to make sure your web design is effective & modern. If not, we can help <a href="#">http:/ow.ly/YuG7X</a>

      .row.text-center
        .columns.small-12
          small Archer 2016
          p#konami
            span &uparrow;
            span &uparrow;
            span &downarrow;
            span &downarrow;
            span &leftarrow;
            span &rightarrow;
            span &leftarrow;
            span &rightarrow;
            small B
            small A
