footer#global-footer.global-footer
  .row.thin-page-section
    .columns.small-12.text-right
      small Archer 2016
      p#konami
        span &uparrow;
        span &uparrow;
        span &downarrow;
        span &downarrow;
        span &leftarrow;
        span &rightarrow;
        span &leftarrow;
        span &rightarrow;
        small B
        small A
