meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="apple-touch-icon", href="apple-touch-icon.png")
<script src="https://use.typekit.net/xvj0hya.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
link(rel="stylesheet", href="css/style.css")
