ul.main-nav
  li
    a(href="services.html", data-smooth-scroll) Services
  li
    a(href="case-studies.html", data-smooth-scroll) Case Studies
  li
    a(href="#", data-smooth-scroll) About Us
  li
    a(href="contact.html", data-smooth-scroll) Contact
  li
    a(href="articles.html", data-smooth-scroll) Articles
