.base-bg
  .row.thick-row.align-center
    .columns.small-12.medium-11.large-10
      h2.thick-margin-bottom Where to next?
      .row
        .columns.small-12.medium-4
          .next-block
            .circle
            h3 Our Services
            a(href="02--services.html") See what we do
        .columns.small-12.medium-4
          .next-block
            .circle
            h3 Our Art Director
            a(href="type--profile-page.html") Learn about Phil
        .columns.small-12.medium-4
          .next-block
            .circle
            h3 Randomize it!
            a(href="index.html") Take a shot blindfolded

