extends ../type--page.jade

block title
  title Colophon | Archer

block content
  .row.page-section
    .columns.small-12
      h1 Colophon
      p This site was made with the following tools:
      h2 Design
      h2 Development
