doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Showcase | Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    include ../inc/head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    #container.container
      include ../inc/global-header.jade

      main#main.main
        .row.page-section
          .columns.small-12
            .thick-page-section
              h1 Showcase
              p.medium-8.large-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, hic! Ratione qui fuga voluptate eveniet cupiditate sint facere repellendus voluptatem minima recusandae quis ipsa, assumenda quisquam, tenetur, explicabo unde.
            .thick-page-section
              h2 Clients
              ul.no-bullet.no-margin.row.small-up-1.medium-up-2.large-up-3
                li.column
                  h3 LNB, Lyons National Bank
                  a(href="type--case-study.html") View Case Study
                li.column
                  h3 The Bonadio Group
                li.column
                  h3 Trevett Cristo
                  a(href="type--case-study.html") View Case Study
                li.column
                  h3 The Strathallan
                  a(href="type--case-study.html") View Case Study
                li.column
                  h3 Gilda's Club of Rochester
                li.column
                  h3 AJL Manufacturing
                li.column
                  h3 VisitRochester
                li.column
                  h3 Hammer Packaging
                li.column
                  h3 CRFS
                //- li.column
                  h3
            .thick-page-section
              h2 Case Studies
              ul.no-bullet.no-margin.row.small-up-1.medium-up-3
                li.column
                  a(href="type--case-study.html")
                    h3 Trevett Cristo
                      br
                      small Refreshing the brand
                    p Nunc interdum lacus sit amet orci.
                li.column
                  a(href="type--case-study.html")
                    h3 The Strathallan
                      br
                      small New rooftop, new website
                    p Etiam vitae tortor. Nunc sed turpis.
                li.column
                  a(href="type--case-study.html")
                    h3 Lyons National Bank
                      br
                      small Updating a bank's web presence
                    p Sed aliquam ultrices mauris.


      include ../inc/global-footer.jade
    include ../inc/scripts.jade
