extends ../type--page.jade

block title
  title Agency | Archer

block pagetitle
  h1.page-title Agency

block overviewcolumn1
  .box
    p.page-subtitle A brief about us.
    p Quasi dignissimos hic, quidem accusantium culpa reprehenderit iste maiores nobis, doloremque minus sed.
    p Based in Rochester, New York

//- block overviewcolumn2

block content
  .row
    .columns.small-12
      .medium-8.large-6
        h2 Work Culture
        p who we are
        p what we look for
        p what we're trying to build -&gt; talks about future/plans
        h3 History
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A totam possimus, quas quo rem. Adipisci, incidunt, quod. Voluptate, hic magnam voluptas unde, quibusdam consectetur nam vel minus repellendus reprehenderit, reiciendis.
        h3 Calendar
        p sharing events we’ll participate in, be attending (Career fair, Industry Day)
        h3 Trophy Cabinet
      .thick-page-section
        h2 The Team
        ul.no-bullet.no-margin.row.small-up-1.medium-up-3.large-up-4
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="type--profile-page.html")
              img(src="images/freedom.jpg", alt="")
              h3 Full Name
              strong Job Title
          li.column
            a(href="05--contact.html")
              .callout
                h3 You?
                p Check out our job openings
          li.column
            a(href="05--contact.html")
              .callout
                h3 Student?
                p Check out our internships and co-ops
