extends ../type--page.jade

block title
  title Contact | Archer

block pagetitle
  h1.page-title Contact

block pageoverview

block content
  .row
    .columns.small-12.medium-6
      .box.overview-box
        p.page-subtitle Archer. <br/> It Just Makes Sense.
        p If you like what you see, get in touch today!
      .page-section
        h2 Need more information? Let us contact you
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, tempora! Possimus facere debitis natus ex sapiente.
      form(data-abide, novalidate).thick-margin-bottom
        .alert.callout(data-abide-error, style="display: none;")
          p There are some errors in your form.
        .row
          .small-12.columns
            label
              span Name
              input(type="text", placeholder="Firstname Lastname", required)
              span.form-error We need a name. Give us a name.
        .row
          .small-12.columns
            label
              span Email
              input(type="text", placeholder="name@email.com", required, pattern="email")
              span.form-error We need a valid email to be able to contact you.
        .row
          .small-12.columns
            label
              span Message
              textarea(placeholder="Hi!", required)
        .row.text-right
          .columns
            button.button.expanded(type="submit", value="Submit") Submit
    .columns.small-12.medium-6
      .box
        h2 Looking to join the team?
        p  Whether you're looking for a full-time gig, co-op, or internships lorem ipsum dolor set.
        a(href="#").button Careers
        br
        a(href="#").button Internships
