doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Articles | Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    include ../inc/head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      include ../inc/global-header.jade

      main#main.main
        .row.page-section
          .columns.small-12

            .thick-margin-bottom
              h1 Articles
              ul.no-bullet
                li
                  article
                    h2 Article Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
                    a(href="type--article.html") Read More
                li
                  article
                    h2 Article Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
                    a(href="type--article.html") Read More
                li
                  article
                    h2 Article Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
                    a(href="type--article.html") Read More
                li
                  article
                    h2 Article Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
                    a(href="type--article.html") Read More
                li
                  article
                    h2 Article Title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
                    a(href="type--article.html") Read More

      include ../inc/global-footer.jade
    include ../inc/scripts.jade
