extends ../type--page.jade

block title
  title Range | Archer

block content
  .row.page-section
    .columns.small-12
      .thick-page-section.medium-8.large-6
        h1 Range
        p Where we share what we learn and what we're working on. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .thick-page-section.medium-8.large-6
        ul.no-bullet
          li
            article
              h2 Article Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
              a(href="type--article.html") Read More
          li
            article
              h2 Article Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
              a(href="type--article.html") Read More
          li
            article
              h2 Article Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
              a(href="type--article.html") Read More
          li
            article
              h2 Article Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
              a(href="type--article.html") Read More
          li
            article
              h2 Article Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quos, officiis dignissimos perferendis quas doloremque maxime rem maiores voluptates omnis excepturi voluptatibus recusandae itaque provident suscipit, veritatis harum earum aspernatur.
              a(href="type--article.html") Read More
