doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Work | Archer
    meta(name="description", content="Archer 2.0, website for 2016")
    include ../inc/head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      include ../inc/global-header.jade

      main#main.main
        .row.page-section
          .columns.small-12
            .thick-page-section
              h1 Work
              p pieces focused on portraying the clients specifically.
              p 3 featured, load 5 initially, have 10 total available (loaded if the user clicks the button)
            .thick-page-section
              p feature the services we did for them
              p show process work, tell the story
                a(href="http://dixonschwabl.com/work/united-way") schwabl example
              p sticks to the featured company style/attitude
              p show variety of pieces
              ul
                li Logos
                li quick overview about the client
                li live site link
                li statistics

      include ../inc/global-footer.jade
    include ../inc/scripts.jade
