.global-footer {
  background-color: $jet;
  color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  backface-visibility: hidden;
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(10);
  @include breakpoint(medium) {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(20);
  }
}


#konami {
  margin: 0;
  font-size: rem-calc(12);
  letter-spacing: 3px;
  span, small {
    opacity: 0.3;
    margin-right: rem-calc(5);
    transition: opacity 0.2s ease;
    &:last-child {
      margin-right: 0;
    }
    &.pressed {
      opacity: 1;
    }
  }
}
