.global-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backface-visibility: hidden;
  width: 50%;
  border-top: $offset-small solid $white;
  border-left: $offset-small solid $white;
  &:after {
    content: "\0a0";
    display: inline-block;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: 100% 100%;  // bottom right
    width: rem-calc(100);
    height: rem-calc(420);
    transition: transform 0.6s ease;
    transform: translateX(-100%) translateY(-75%);
  }
  &.detached {
    &:after {
      transform: translateX(-100%) translateY(-75%) rotate(20deg);
    }
  }

  @include breakpoint(medium) {
    width: 25%;
    border-width: $offset-medium;
    &:after {
      transform: translateX(-100%) translateY(-25%);
    }
    &.detached {
      &:after {
        transform: translateX(-100%) translateY(-25%) rotate(8deg);
      }
    }
  }

  @include breakpoint(large) {
    border-width: $offset-large;
  }
}


.h1 {
  font-size: rem-calc(24);
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1;
  text-transform: lowercase;
  a {
    display: inline-block;
    color: inherit;
  }
}
