.global-header {
  // border: rem-calc(20) solid $white;
  // border-bottom: none;
  background-color: $red;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  backface-visibility: hidden;
  transition: transform 0.4s ease;
  &.detached.hidden {
    transform: translateY(-90%);
    &:hover {
      transform: translateY(0);
    }
  }
}


.h1 {
  font-size: rem-calc(24);
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1;
  padding: rem-calc(6 0);
  text-transform: lowercase;
  a {
    display: inline-block;
    color: inherit;
  }
}
