// nav styles
// ----------------------------------------
.global-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  backface-visibility: hidden;
  border-right: rem-calc(10) solid $white;
  @include breakpoint(medium) {
    border-width: rem-calc(15);
  }
  @include breakpoint(large) {
    border-width: rem-calc(20);
  }
}
// .nav-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 10;
//   backface-visibility: hidden;
//   // background-color: darken($red, 5%);
//   margin-top: rem-calc(36);
//   transform: translateX(100%);
//   transition: transform 0.5s ease;
//   &.active {
//     transform: translateX(0);
//   }

//   @include breakpoint(medium) {
//     position: static;
//     transform: translateX(0);
//     margin-top: 0;
//   }
// }

.nav-toggle {
  display: block;
  width: 100%;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
  padding-top: rem-calc(10);
  padding-right: rem-calc(10);
  @include breakpoint('medium') {
    display: none;
  }
}

.nav-list {
  display: none;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  a {
    display: block;
  }
  &.active {
    display: block;
  }
  @include breakpoint(medium) {
    position: static;
    display: block;
    margin-top: rem-calc(15);
    margin-bottom: rem-calc(15);
    padding-top: rem-calc(15);
    padding-right: rem-calc(15);
    > li {
      display: inline-block;
      margin-right: rem-calc(10);
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include breakpoint(large) {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(20);
    padding-top: rem-calc(20);
    padding-right: rem-calc(20);
  }
}
